

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.headerText {
    font-size: 48px;
    color: #f9faf8;
}

.container {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}


.middle {
    flex: 3;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.containerTwo {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.containerThree {
    display: flex;
    justify-content: center;    
}

.containerFour {
    display: flex;
    justify-content: center;
}

.containerFive {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    
}



#reset-btn {
    color: #ffffff;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    font-size: medium;
    font-weight: 400;
    border-width: 1px;
  }




